<h1>All Weather Stations Sensors</h1>
<table class="table table-striped">
  <thead class="thead-default">
  <tr>
    <th>Station Id</th>
    <th>Sensor</th>
    <th>Number of data points</th>
    <th>Earliest data point</th>
    <th>Latest data point</th>
  </tr>
  </thead>
  <tr data-ng-repeat="sensor in sensorList">
    <td>
      <a href="/V2/MyWeatherStation/{{sensor.stationId}}">{{sensor.stationId}}</a>
    </td>
    <td>{{sensor.sensorType}}</td>
    <td>{{sensor.count}}</td>
    <td>{{sensor.min}}</td>
    <td>{{sensor.max}}</td>
  </tr>
</table>
