<div>
  Weather Station:
  <select>
    <option ng-repeat='id in $ctrl.ids' value='{{id}}'>{{id}}</option>
  </select>
</div>
<!--<div class="dropdown">
  Weather Station:
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    testStation
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ng-repeat="id in $ctrl.ids">
      <a href="/WeatherStationServer/?stationId={{id}}">{{id}}</a>
    </li>
  </ul>
</div>-->
