<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FluentAssertions" version="5.3.0" targetFramework="net461" />
  <package id="SimpleInjector" version="4.2.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Xunit" version="2.3.1" targetFramework="net452" />
  <package id="Xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.8.0" targetFramework="net461" />
  <package id="Xunit.assert" version="2.3.1" targetFramework="net452" />
  <package id="Xunit.core" version="2.3.1" targetFramework="net452" />
  <package id="Xunit.extensibility.core" version="2.3.1" targetFramework="net452" />
  <package id="Xunit.extensibility.execution" version="2.3.1" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.3.1" targetFramework="net461" developmentDependency="true" />
</packages>