/*
 * Weather station
 *
 * This is a sample weather station server. 
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apiteam@swagger.io
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using IO.Swagger.Attributes;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class StationApiController : Controller
    { 
        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="stationId">description</param>
        /// <response code="200">Returnes the station properties.</response>
        [HttpGet]
        [Route("/adam-pridmore/Test/1.0.0/stations/{stationId}")]
        [ValidateModelState]
        [SwaggerOperation("GetStationById")]
        [SwaggerResponse(200, typeof(Station), "Returnes the station properties.")]
        public virtual IActionResult GetStationById([FromRoute]string stationId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<Station>(exampleJson)
            : default(Station);
            return new ObjectResult(example);
        }

        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="stationId">desc</param>
        /// <response code="200">Returnes the station properties.</response>
        [HttpGet]
        [Route("/adam-pridmore/Test/1.0.0/stations/{stationId}/readings")]
        [ValidateModelState]
        [SwaggerOperation("GetStationReadings")]
        [SwaggerResponse(200, typeof(Reading), "Returnes the station properties.")]
        public virtual IActionResult GetStationReadings([FromRoute]string stationId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<Reading>(exampleJson)
            : default(Reading);
            return new ObjectResult(example);
        }

        /// <summary>
        /// 
        /// </summary>
        
        /// <response code="200">successful operation</response>
        /// <response code="405">Invalid input</response>
        [HttpGet]
        [Route("/adam-pridmore/Test/1.0.0/stations")]
        [ValidateModelState]
        [SwaggerOperation("GetStations")]
        [SwaggerResponse(200, typeof(List<Station>), "successful operation")]
        [SwaggerResponse(405, typeof(List<Station>), "Invalid input")]
        public virtual IActionResult GetStations()
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<Station>>(exampleJson)
            : default(List<Station>);
            return new ObjectResult(example);
        }
    }
}
